motor_control flow.json
[{"id":"ac93f258.9f852","type":"tab","label":"Motor control","disabled":false,"info":""},{"id":"72f08c22.a21d24","type":"ibmiot out","z":"ac93f258.9f852","authentication":"apiKey","apiKey":"3d92afc4.1486f","outputType":"cmd","deviceId":"78945","deviceType":"Motor_control","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":720,"y":280,"wires":[]},{"id":"cc53f20.dcca01","type":"ui_button","z":"ac93f258.9f852","name":"","group":"860f14f9.450258","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor on\"}","payloadType":"json","topic":"","x":110,"y":280,"wires":[["72f08c22.a21d24","4606bfc7.55845"]]},{"id":"a27ce3b8.f0625","type":"ui_button","z":"ac93f258.9f852","name":"","group":"860f14f9.450258","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor off\"}","payloadType":"json","topic":"Motor off","x":140,"y":400,"wires":[["72f08c22.a21d24","9446f881.68b518"]]},{"id":"737cb54.154934c","type":"ui_text","z":"ac93f258.9f852","group":"860f14f9.450258","order":1,"width":0,"height":0,"name":"Ststus","label":"motor status","format":"{{msg.payload}}","layout":"row-left","x":670,"y":180,"wires":[]},{"id":"4606bfc7.55845","type":"function","z":"ac93f258.9f852","name":"ON Notification","func":"msg.payload=\"MOTOR ON\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["737cb54.154934c"]]},{"id":"9446f881.68b518","type":"function","z":"ac93f258.9f852","name":"OFF Notification","func":"msg.payload=\"MOTOR OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":440,"wires":[["737cb54.154934c"]]},{"id":"3d92afc4.1486f","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"2mak6a.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"860f14f9.450258","type":"ui_group","z":"","name":"result","tab":"a14b46e5.a58c88","order":12,"disp":true,"width":"6","collapse":false},{"id":"a14b46e5.a58c88","type":"ui_tab","z":"","name":"Motor output","icon":"dashboard","disabled":false,"hidden":false}]