Smart Agriculture flow (1).json
[{"id":"e4dbe24c.851f4","type":"tab","label":"Smart Agriculture","disabled":false,"info":""},{"id":"ebcd4299.66a03","type":"ibmiot in","z":"e4dbe24c.851f4","authentication":"apiKey","apiKey":"3d92afc4.1486f","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"Device ID","eventType":"","commandType":"command","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":150,"y":280,"wires":[["40205ec2.24be3","b426e993.037b68","fd2687b2.3a10a8"]]},{"id":"51b95359.9fd58c","type":"debug","z":"e4dbe24c.851f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":200,"wires":[]},{"id":"40205ec2.24be3","type":"function","z":"e4dbe24c.851f4","name":"temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["6957010.90863","51b95359.9fd58c"]]},{"id":"b426e993.037b68","type":"function","z":"e4dbe24c.851f4","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["d8c69be.189ba68","51b95359.9fd58c"]]},{"id":"6957010.90863","type":"ui_gauge","z":"e4dbe24c.851f4","name":"","group":"37a85016.98fbe","order":1,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#b632c8","#ca3838"],"seg1":"","seg2":"","x":590,"y":120,"wires":[]},{"id":"d8c69be.189ba68","type":"ui_gauge","z":"e4dbe24c.851f4","name":"","group":"b1f9406a.fad89","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":400,"wires":[]},{"id":"fd2687b2.3a10a8","type":"function","z":"e4dbe24c.851f4","name":"objectTemp","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["a783043d.ffc968","51b95359.9fd58c"]]},{"id":"a783043d.ffc968","type":"ui_gauge","z":"e4dbe24c.851f4","name":"","group":"ab8730b9.36151","order":1,"width":0,"height":0,"gtype":"gage","title":"objectTemp","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":260,"wires":[]},{"id":"3d92afc4.1486f","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"2mak6a.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"37a85016.98fbe","type":"ui_group","z":"","name":"temperature","tab":"a14b46e5.a58c88","order":3,"disp":true,"width":"6","collapse":false},{"id":"b1f9406a.fad89","type":"ui_group","z":"","name":"humidity","tab":"a14b46e5.a58c88","order":4,"disp":true,"width":"6","collapse":false},{"id":"ab8730b9.36151","type":"ui_group","z":"","name":"objectTemp","tab":"a14b46e5.a58c88","order":6,"disp":true,"width":"6","collapse":false},{"id":"a14b46e5.a58c88","type":"ui_tab","z":"","name":"Motor output","icon":"dashboard","disabled":false,"hidden":false}]