weather api flow (2).json
[{"id":"a90c6d5.9fd839","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"90692039.65c8b","type":"http request","z":"a90c6d5.9fd839","name":"weather","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Anantapur,IN&appid=277e514355b3ed4c7ee2ea54adf2b61b","tls":"","persist":false,"proxy":"","authType":"","x":280,"y":320,"wires":[["6abeb33e.bf38fc","b443a869.39ea18","3ea432bf.ba3a3e","be90cc05.1d768"]]},{"id":"372420f8.e1a82","type":"inject","z":"a90c6d5.9fd839","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["90692039.65c8b"]]},{"id":"6abeb33e.bf38fc","type":"debug","z":"a90c6d5.9fd839","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":400,"wires":[]},{"id":"3ea432bf.ba3a3e","type":"function","z":"a90c6d5.9fd839","name":"humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":160,"wires":[["40e656b0.f18d28","6abeb33e.bf38fc"]]},{"id":"be90cc05.1d768","type":"function","z":"a90c6d5.9fd839","name":"pressure","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":260,"wires":[["81c842db.a389f","6abeb33e.bf38fc"]]},{"id":"b443a869.39ea18","type":"function","z":"a90c6d5.9fd839","name":"temp","func":"msg.payload=msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":80,"wires":[["acbccb4d.3297f8","6abeb33e.bf38fc"]]},{"id":"acbccb4d.3297f8","type":"ui_text","z":"a90c6d5.9fd839","group":"860f14f9.450258","order":1,"width":0,"height":0,"name":"temp","label":"temp","format":"{{msg.payload}}","layout":"row-left","x":790,"y":60,"wires":[]},{"id":"40e656b0.f18d28","type":"ui_text","z":"a90c6d5.9fd839","group":"860f14f9.450258","order":2,"width":0,"height":0,"name":"humidity","label":"humidity","format":"{{msg.payload}}","layout":"row-left","x":860,"y":140,"wires":[]},{"id":"81c842db.a389f","type":"ui_text","z":"a90c6d5.9fd839","group":"860f14f9.450258","order":3,"width":0,"height":0,"name":"pressure","label":"pressure","format":"{{msg.payload}}","layout":"row-left","x":920,"y":220,"wires":[]},{"id":"860f14f9.450258","type":"ui_group","z":"","name":"result","tab":"a14b46e5.a58c88","order":12,"disp":true,"width":"6","collapse":false},{"id":"a14b46e5.a58c88","type":"ui_tab","z":"","name":"weather conditions","icon":"dashboard","disabled":false,"hidden":false}]